
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>delete</title>
</head>
<body>
    <div align="center">
        <h1>
            student deleted successfully
            <br/>
            @Html.ActionLink("back to search","search","student")
        </h1> 
    </div>
</body>
</html>
