
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>view_update</title>
</head>
<body>
    <div align="center">
        <h1>
            student details updated successfully
            <br/>
            @Html.ActionLink("go back","search","student")
        </h1> 
    </div>
</body>
</html>
